<!DOCTYPE html>
<html>
<head>
  <title>Spotify Miniplayer</title>
</head>
<body>
  <h1>Spotify Miniplayer</h1>
  
  <form action="/search" method="GET">
    <input type="text" name="query" placeholder="Search for a track" required>
    <button type="submit">Search</button>
  </form>
</body>
</html>
