body{
    color: black !important;
    background-image: url(../img/pexels-sergei-bezborodov-14704462.jpg);
    background-size: 1920px 1080px;
    background-color: rgb(0, 209, 0);
}



.button-action {
    position: absolute;
    margin-top: 80vh;
    left: 50%;
    transform: translate(-50%);
}

.button-action-2 {
    position: absolute;
    margin-top: 73vh;
    left: 50%;
    transform: translate(-50%);
}
