<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Spotify User Login</title>
</head>
<body>
    <button onclick="getSpotifyUserLogin()">Login with Spotify</button>
    <script>
        function getSpotifyUserLogin() {

            const getSpotifyUserLogin = () => {
                fetch("http://localhost:8080/api/login")
                    .then( (response) => response.text())
                    .then(response => {
                        window. location. replace(response);
                    })
                }
            }
    </script>
</body>
</html>
