<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Your Spotify Pre-Wrapped</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
    
    </head>

<body>
    <nav class="header">
        <div class="container">
            <a class="navbar-brand h1-responsive display-4 heading-main text-white logout-btn go-back-btn" type="button" href="/redirect">Go Back</a>
            <a class="mainHeader">Invalid Search</a>
        </div>
    </nav>
    <div class="justify-content-center text-center error-details">
        <div class="container">
            <h2 class="mainHeader error-header">Try Again, With a correct Search Query</h2>
        </div>
    </div>



    <!-- jQuery -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <!-- Your custom scripts (optional) -->
    <script type="text/javascript">
    </script>

</body>

</html>